
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title-Rent & Run</title>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/wickedpicker.css" rel="stylesheet" />
    <a href="~/fonts/fontello.eot"></a>
    <a href="~/fonts/fontello.ttf"></a>
    <a href="~/fonts/fontello.woff"></a>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/wickedpicker.js"></script>
    <a href="~/webfonts/fa-brands-400.eot"></a>
    <a href="~/webfonts/fa-brands-400.ttf"></a>
    <a href="~/webfonts/fa-brands-400.woff"></a>
    <a href="~/webfonts/fa-brands-400.woff2"></a>
    <a href="~/webfonts/fa-regular-400.eot"></a>
    <a href="~/webfonts/fa-regular-400.ttf"></a>
    <a href="~/webfonts/fa-regular-400.woff"></a>
    <a href="~/webfonts/fa-regular-400.woff2"></a>
    <a href="~/webfonts/fa-solid-900.eot"></a>
    <a href="~/webfonts/fa-solid-900.ttf"></a>
    <a href="~/webfonts/fa-solid-900.woff"></a>
    <a href="~/webfonts/fa-solid-900.woff2"></a>


    <style>
        .prog {
            margin: 40px auto;
        }

            .prog ul li p {
                font-family: sans-serif;
                font-size: large;
                font-weight: bold;
            }

            .prog img {
                width: 80px;
                margin-bottom: 20px;
            }

            .prog ul {
                text-align: center;
            }

                .prog ul li {
                    display: inline-block;
                    width: 300px;
                    position: relative;
                }

            .prog li .fa {
                width: 35px;
                height: 35px;
                background-color: limegreen;
                border-radius: 50%;
                padding: 10px;
                margin-bottom: 15px;
            }

            .prog li .fas {
                width: 35px;
                height: 35px;
                background-color: limegreen;
                border-radius: 50%;
                padding: 10px;
                margin-bottom: 15px;
            }

            .prog ul li .fa::after, .prog ul li .fas::after {
                content: '';
                background: darkturquoise;
                height: 10px;
                width: 310px;
                display: block;
                position: absolute;
                left: 0;
                top: 134px;
                z-index: -1;
            }

            .prog ul li:first-child .fa::after {
                width: 190px;
                left: 140px;
            }

            .prog ul li:last-child .fa::after {
                width: 160px;
            }

            .prog ul li:first-child .fa {
                background-color: limegreen;
            }
    </style>

</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>

    }

    <!--/banner-->
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">

            <div class="col-md-4 col-sm-6 log-icons mt-2">
                <p class="py-2"><i class="fas fa-phone"></i> Call : +880 1711001100</p>
            </div>

            <div class="col-md-4 col-sm-6 logo">
                <a class="navbar-brand" href="@Url.Action("Index", "AfterLogin")">
                    <i class="fas fa-taxi"></i> Rent & Run
                </a>
            </div>


            <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">

                <span>
                    <a href="@Url.Action("UserProfile", "AfterLogin")">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </span>

                <span>
                    <a href="@Url.Action("Chat", "AfterLogin")" style="margin-left:25px">
                        <i class="fas fa-user"></i> Chat
                    </a>
                </span>

                <span class="mx-lg-4 mx-md-2  mx-1">
                    <a href="@Url.Action("Logout", "AfterLogin")">
                        <i class="fas fa-lock"></i> Log Out
                    </a>
                </span>

            </div>
        </div>
    </div>

    <div class="banner" id="home">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link ml-lg-0" href="@Url.Action("Index", "Home")">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Services", "Home")">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Booking", "Home")">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")"><span>Contact</span></a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <!-- //header -->
        <!-- banner-text -->
        <div id="wrapper">

            <!-- Slideshow 1 -->
            <div class="rslides_container">
                <ul class="rslides" id="slider1">
                    <li>
                        <div class="banner-img">
                            <div class="bs-slider-overlay">
                                <div class="banner-info text-center">
                                    <span class="fas fa-taxi"></span>
                                    <h1>Drive Your Own Car </h1>
                                    <h2 class="mb-5">Anywhere Anytime</h2>
                                    <a href="@Url.Action("Booking", "Home")">Book Now </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-img one">
                            <div class="bs-slider-overlay">
                                <div class="banner-info text-center">
                                    <span class="fas fa-taxi"></span>
                                    <h4>Online Car Booking</h4>
                                    <h5 class="mb-5">No Extra Charges</h5>
                                    <a href="@Url.Action("Booking", "Home")">Book Now </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-img two">
                            <div class="bs-slider-overlay">
                                <div class="banner-info text-center">
                                    <span class="fas fa-taxi"></span>
                                    <h4>Reach Your Destination</h4>
                                    <h5 class="mb-5">Within Exact Time </h5>
                                    <a href="@Url.Action("Booking", "Home")">Book Now </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-img three">
                            <div class="bs-slider-overlay">
                                <div class="banner-info text-center">
                                    <span class="fas fa-taxi"></span>
                                    <h4>Travel Safe & Secure</h4>
                                    <h5 class="mb-5">With Your Family</h5>
                                    <a href="@Url.Action("Booking", "Home")">Book Now </a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- //banner -->



    <div>

        <!-- Booking -->
        <section class="bookingform py-5">
            <div class="container py-md-5 py-3">
                <h1 class="heading text-capitalize text-center">Booking form</h1>
                <h5 class="heading mb-5 text-center">Rent & Run</h5>

                <div class="prog">
                    <ul>
                        <li>
                            <img src="~/images/start.png"><br><br>
                            <i class="fa fa-check"></i><br>
                            <p>Starting Point</p>
                        </li>
                        <li>
                            <img src="~/images/express.png"><br><br>
                            <i class="fas fa-sync"></i><br>
                            <p>Pickup Time</p>
                        </li>
                        <li>
                            <img src="~/images/end-of-year.png"><br><br>
                            <i class="fa fa-times"></i><br>
                            <p>Dropoff Time</p>
                        </li>
                    </ul>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" style="background-color: #252525">
                                    @using (Html.BeginForm("Booking", "Home", FormMethod.Post))
                                    {
                                        <div class="row">
                                            <div class="col">
                                                <h2 style="font-family:'Lucida Console'; font-weight: bolder; font-size: 30px; color:azure">Tell Us Your Starting Point</h2>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-4">
                                                <div class="agileits-btm-spc">
                                                    <select id="cab" onchange="change_country(this.value)" class="frm-field required sect">
                                                        <option value="">Enter Division</option>
                                                        <option value="">Dhaka</option>
                                                        <option value="">Chittagong</option>
                                                        <option value="">Rajshahi</option>
                                                        <option value="">Sylhet</option>
                                                        <option value="">Khulna</option>
                                                        <option value="">Barisal</option>
                                                        <option value="">Rangpur</option>
                                                        <option value="">Mymensingh</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="agileits-btm-spc">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Enter your starting location" name="Start_place" id="Start_place" required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h2 style="font-family:sans-serif; font-size: 25px; color:azure">Popular Pickup Points</h2><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Hazrat Shahjalal Internation Airport</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3">Kamalapur Railway Station</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Kallayanpur Bus Station</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Shahbagh</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Bashundhara R/A</p><br>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <h2 style="font-family:'Lucida Console'; font-weight: bolder; font-size: 30px; color:azure">Tell Us Your Ending Point</h2>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-4">
                                                <div class="agileits-btm-spc">
                                                    <select id="cab" onchange="change_country(this.value)" class="frm-field required sect">
                                                        <option value="">Enter Division</option>
                                                        <option value="">Dhaka</option>
                                                        <option value="">Chittagong</option>
                                                        <option value="">Rajshahi</option>
                                                        <option value="">Sylhet</option>
                                                        <option value="">Khulna</option>
                                                        <option value="">Barisal</option>
                                                        <option value="">Rangpur</option>
                                                        <option value="">Mymensingh</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="agileits-btm-spc">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Enter your drop-off location" name="End_place" id="End_place" required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h2 style="font-family:sans-serif; font-size: 25px; color:azure">Popular Dropoff Points</h2><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Hazrat Shahjalal Internation Airport</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3">Kamalapur Railway Station</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Kallayanpur Bus Station</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Shahbagh</p><br>
                                                <p style="font-family: Georgia; color: #bdbfc3 ">Bashundhara R/A</p><br>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 20px">
                                            <div class="col">
                                                <h2 style="font-family:'Lucida Console'; font-weight: bolder; font-size: 30px; color:azure">From when you need a car ?</h2>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-12">
                                                <div class="row main-agile-sectns">
                                                    <div class="col-md-6 agileits-btm-spc form-text1">
                                                        <div class="form-group">
                                                            <input id="datepicker1" name="Start_date" type="text" placeholder="Pick-up Date" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-12">
                                                <div class="row main-agile-sectns">
                                                    <div class="col-md-6 agileits-btm-spc form-text2">
                                                        <div class="form-group">
                                                            <input type="text" id="timepicker" name="Start_time" class="timepicker form-control" placeholder="Pick-up Time" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col">
                                                <h2 style="font-family:'Lucida Console'; font-weight: bolder; font-size: 30px; color:azure">Till when you need it ?</h2>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-12">
                                                <div class="row main-agile-sectns">
                                                    <div class="col-md-6 agileits-btm-spc form-text1">
                                                        <div class="form-group">
                                                            <input id="datepicker2" name="End_date" type="text" placeholder="Drop-off Date" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-12">
                                                <div class="row main-agile-sectns">
                                                    <div class="col-md-6 agileits-btm-spc form-text2">
                                                        <div class="form-group">
                                                            <input type="text" id="timepicker" name="End_time" class="timepicker form-control" placeholder="Drop-off Time" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <input type="submit" style="margin-left: 930px; padding: 10px 25px 10px 25px; background-color:#ffc107; font-family: 'Lucida Console'; font-weight: bolder; font-size: 20px;" value="Next">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <br><br>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- //Booking -->


    </div>



    <!--footer-->
    <footer class="py-sm-5 py-4 px-md-5 px-3">
        <div class="container-fluid pt-lg-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                    <h3 class="mb-sm-5 mb-4 mt-sm-0 mt-4">About Company</h3>
                    <p>Vestibulum vitae libero consectetur, orn areeros id, congue metus. Aliquam erat volutpat. Donec rhoncus risus vitae ullam corper pretium. Duis vitae nisl neque. Aliquam tincidunt, tellus quis hendrerit tincidunt congue metus. </p>
                    <a href="#" class="read">Know More <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                    <h3 class="mb-sm-5 mb-4">Locate Us</h3>
                    <ul class="w3ls-footer-bottom-list">
                        <li> <span class="fas fa-map-marker"></span> 3481 Jack Street Beverly Jack Hills<span> 90210 Block, USA </span></li>
                        <li> <span class="fas fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a> </li>
                        <li> <span class="fas fa-phone"></span> +112 367 896 2449 </li>
                        <li> <span class="fas fa-fax"></span> +112 367 896 2449 </li>
                        <li> <span class="fas fa-globe"></span> <a href="#"> www.websitename.com</a> </li>
                        <li> <span class="fas fa-clock"></span> Office Time  : 8:00 a.m - 6:00 p.m</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mb-sm-0 mb-5 footer-grid-agileits-w3ls text-left">
                    <div class="tech-btm">
                        <h3 class="mb-sm-5 mb-4">Latest Posts</h3>
                        <div class="blog-grids row mb-3">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 19 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog2.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog3.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 21 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- subscribe -->
                <div class="col-lg-3 col-sm-6 subscribe-main footer-grid-agileits-w3ls text-left">
                    <h3 class="mb-sm-5 mb-4">Newsletter</h3>
                    <div class="subscribe-main text-left">
                        <div class="subscribe-form">
                            <form action="#" method="post" class="subscribe_form">
                                <input class="form-control" type="email" placeholder="Enter Your Email..." required="">
                                <button type="submit" class="btn1 btn-primary submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- //subscribe -->
                    <div class="footer-social">
                        <div class="copyrighttop">
                            <h3 class="mb-sm-5 mb-4">Stay In Touch</h3>
                            <ul>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
                <div class="w3layouts-agile-copyrightbottom">
                    <p>
                        &copy; @DateTime.Now.Year
                        Taxi Cab. All Rights Reserved | Design by
                        <a href="http://w3layouts.com/">W3layouts  </a>
                    </p>

                </div>
            </div>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- </footer>-->
    <!-- login and register modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign In to your account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">User Name</label>
                            <input type="text" class="form-control" placeholder="User Name" name="UserName" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="UserPassword" id="password" required="">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-white">
                                    <span></span>Remember me?
                                </label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-white">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Sign In">
                        </div>
                        <p class="text-center dont-do text-white mt-3">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-white">
                                Register Now
                            </a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Register your account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">User Name</label>
                            <input type="text" class="form-control" placeholder="User Name" name="UserName" id="recipient-rname" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Email" name="UserEmail" id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="UserPassword" id="password1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" id="password2" required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-agile">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3">
                                    <span></span>I Accept to the Terms & Conditions
                                </label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Register">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- //login and register modal -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- Time -->
    <script type="text/javascript" src="js/wickedpicker.js"></script>
    <script type="text/javascript">
        $('.timepicker').wickedpicker({
            twentyFour: false
        });
    </script>
    <!--// Time -->
    <!-- Calendar -->
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- carousel -->
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!--slider-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "centered-btns"
            });
        });
    </script>
    <!--//slider-->
    <!-- start-smoth-scrolling -->
    <script src="js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>



</body>
</html>





















