@model Rentandrun.Models.User

@{
    ViewBag.Title = "Members";
    Layout = null;
    var records = ViewBag.all_user;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-Rent & Run</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />

    <style>
        .btn-primary {
            margin-left: 10px;
        }
    </style>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-color:bisque; padding: 6px; margin-bottom: 4px">
                <center>
                    <h2 style="font-family:Verdana; font-weight:bolder; ">Rent & Run</h2>
                </center>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>Member Details</h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="120px" src="~/images/user.png" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label>Member ID</label>
                                @using (Html.BeginForm("MemberManagement", "Admin", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="number" class="form-control" value="@Html.DisplayFor(model => model.UserID)" placeholder="ID" name="UserID" id="recipient-rname" required="">
                                            <input type="submit" class="btn btn-primary" value="Go">
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-7">
                                <label>Account Status</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Status" value="@Html.DisplayFor(model => model.UserStatus)" name="UserStatus" id="recipient-rname" required="">
                                        <a href="@Url.Action("ActiveMember", "Admin")" class="btn btn-success" style="margin-left: 8px"><i class="fas fa-check-circle"></i></a>
                                        <a href="@Url.Action("PendingMember", "Admin")" class="btn btn-warning" style="margin-left: 8px"><i class="fas fa-pause-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm("DeleteMember", "Admin", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Full Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" value="@Html.DisplayFor(model => model.UserName)" name="UserName" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Photo</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Image" name="UserPhoto" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email Address</label>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address" value="@Html.DisplayFor(model => model.UserEmail)" name="UserEmail" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" value="@Html.DisplayFor(model => model.UserPassword)" name="UserPassword" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Full Address</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Address" value="@Html.DisplayFor(model => model.UserAddress)" name="UserAddress" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>National ID card</label>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="NID card" value="@Html.DisplayFor(model => model.UserNID)" name="UserNID" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Driving License</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="License ID" name="UserDrivingID" value="@Html.DisplayFor(model => model.UserDrivingID)" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact Number</label>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Contact Number" value="@Html.DisplayFor(model => model.UserContact_number)" name="UserContact_numer" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Date of Birth</label>
                                    <div class="form-group">
                                        <input type="date" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.UserDateOfBirth)" name="UserDateOfBirth" id="recipient-rname" required="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Delete User Permanently">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <a href="@Url.Action("Index", "Admin")" class="text-dark"><< Back to Home</a>
                <br><br>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>Members List</h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <table id="customers">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Contact_number</th>
                                <th>Photo</th>
                                <th>NID</th>
                                <th>DrivingID</th>
                                <th>Status</th>
                                <!--<th>DOB</th>-->
                            </tr>
                            @foreach (var item in records)
                            {
                                <tr>
                                    <td>@item.UserID</td>
                                    <td>@item.UserName</td>
                                    <td>@item.UserEmail</td>
                                    <td>@item.UserAddress</td>
                                    <td>@item.UserContact_number</td>
                                    <td>@item.UserPhoto</td>
                                    <td>@item.UserNID</td>
                                    <td>@item.UserDrivingID</td>
                                    <td>@item.UserStatus</td>
                                    <!--<td>@item.UserDateOfBirth</td>-->
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-color:black; padding: 6px; height:25px; margin-bottom: 4px">

            </div>
        </div>
    </div>
</body>
</html>
