@model Rentandrun.Models.Car_details
@{
    Layout = null;
    var records = ViewBag.all_damage;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIEW CAR DETAILS</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/wickedpicker.css" rel="stylesheet" />
    <a href="~/fonts/fontello.eot"></a>
    <a href="~/fonts/fontello.ttf"></a>
    <a href="~/fonts/fontello.woff"></a>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/wickedpicker.js"></script>
    <a href="~/webfonts/fa-brands-400.eot"></a>
    <a href="~/webfonts/fa-brands-400.ttf"></a>
    <a href="~/webfonts/fa-brands-400.woff"></a>
    <a href="~/webfonts/fa-brands-400.woff2"></a>
    <a href="~/webfonts/fa-regular-400.eot"></a>
    <a href="~/webfonts/fa-regular-400.ttf"></a>
    <a href="~/webfonts/fa-regular-400.woff"></a>
    <a href="~/webfonts/fa-regular-400.woff2"></a>
    <a href="~/webfonts/fa-solid-900.eot"></a>
    <a href="~/webfonts/fa-solid-900.ttf"></a>
    <a href="~/webfonts/fa-solid-900.woff"></a>
    <a href="~/webfonts/fa-solid-900.woff2"></a>


</head>
<body>

    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">

            <div class="col-md-4 col-sm-6 log-icons mt-2">
                <p class="py-2"><i class="fas fa-phone"></i> Call : +880 1711001100</p>
            </div>

            <div class="col-md-4 col-sm-6 logo">
                <a class="navbar-brand" href="@Url.Action("Index", "AfterLogin")">
                    <i class="fas fa-taxi"></i> Rent & Run
                </a>
            </div>


            <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">

                <span>
                    <a href="@Url.Action("UserProfile", "AfterLogin")">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </span>

                <span>
                    <a href="@Url.Action("Chat", "AfterLogin")" style="margin-left:25px">
                        <i class="fas fa-user"></i> Chat
                    </a>
                </span>

                <span class="mx-lg-4 mx-md-2  mx-1">
                    <a href="@Url.Action("Logout", "AfterLogin")">
                        <i class="fas fa-lock"></i> Log Out
                    </a>
                </span>

            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <div>
            <h1>Car ID : @Model.CarID </h1>
        </div>
        <br>
        <img src="@Url.Content(@Model.CarImage)" style="width:800PX; height:450PX" />
        <br>
        @foreach (var item in records)
        {
            if (item.CarID == Model.CarID)
            {
        <img src="@Url.Content(item.CarImage_Front)" style="width:260PX; height:170PX" />
        <img src="@Url.Content(item.CarImage_Back)" style="width:260PX; height:170PX" />
        <img src="@Url.Content(item.CarImage_Right)" style="width:260PX; height:170PX" />
        <img src="@Url.Content(item.CarImage_Left)" style="width:260PX; height:170PX" />
            }
        }
        <br><br>
        <div class="row">
            <div class="col-5">
                <h1>Daily fee: @Model.Daily_Fee</h1>
            </div>

            <div class="col-3">
                @Html.ActionLink("Confirm", "Payment", "AfterLogin", new { id = @Model.CarID }, new { @class = "btn btn-primary btn-block btn-lg" })
            </div>
        </div>
        <br><br>
        @*<table>


                <tr>
                    <tr class="bg-primary"><td>Engine Number: @Model.EngineNumber</td></tr>
                    <tr class="bg-success"><td>Registration Year: @Model.RegistrationYear</td></tr>
                    <tr class="bg-warning"><td>Car Details: @Model.CarDetails</td></tr>
                    <tr class="bg-danger">...</tr>
                    <tr class="bg-info">...</tr>
                </tr>

                <tr> <td>Engine Number: </td> <td>@Model.EngineNumber </td> </tr>
                <tr> <td> </td> <td>@Model.RegistrationYear </td> </tr>
                <tr> <td>Car Details: </td> <td>@Model.CarDetails </td> </tr>

            </table>*@
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-hover sortable">

                <thead>
                    <tr class="danger">
                        <th data-defaultsign="_19"> Car ID :</th>
                        <th data-defaultsign="AZ">Daily fee:</th>
                        <th data-defaultsign="AZ">Registration Year:</th>
                        <th data-defaultsign="month">Car Details:</th>
                        <th data-firstsort="desc">Engine Number:</th>
                    </tr>
                </thead>


                <tr>
                    <td>@Model.CarID</td>
                    <td>@Model.Daily_Fee</td>
                    <td>@Model.RegistrationYear</td>
                    <td>@Model.CarDetails</td>
                    <td>@Model.EngineNumber</td>
                </tr>


            </table>
        </div>
    </div>

    <br><br>
    <!--footer-->
    <footer class="py-sm-5 py-4 px-md-5 px-3">
        <div class="container-fluid pt-lg-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                    <h3 class="mb-sm-5 mb-4 mt-sm-0 mt-4">About Company</h3>
                    <p>Vestibulum vitae libero consectetur, orn areeros id, congue metus. Aliquam erat volutpat. Donec rhoncus risus vitae ullam corper pretium. Duis vitae nisl neque. Aliquam tincidunt, tellus quis hendrerit tincidunt congue metus. </p>
                    <a href="#" class="read">Know More <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                    <h3 class="mb-sm-5 mb-4">Locate Us</h3>
                    <ul class="w3ls-footer-bottom-list">
                        <li> <span class="fas fa-map-marker"></span> 3481 Jack Street Beverly Jack Hills<span> 90210 Block, USA </span></li>
                        <li> <span class="fas fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a> </li>
                        <li> <span class="fas fa-phone"></span> +112 367 896 2449 </li>
                        <li> <span class="fas fa-fax"></span> +112 367 896 2449 </li>
                        <li> <span class="fas fa-globe"></span> <a href="#"> www.websitename.com</a> </li>
                        <li> <span class="fas fa-clock"></span> Office Time  : 8:00 a.m - 6:00 p.m</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mb-sm-0 mb-5 footer-grid-agileits-w3ls text-left">
                    <div class="tech-btm">
                        <h3 class="mb-sm-5 mb-4">Latest Posts</h3>
                        <div class="blog-grids row mb-3">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 19 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog2.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="blog-grids row">
                            <div class="col-4 pr-0 blog-grid-left">
                                <a href="#">
                                    <img src="images/blog3.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 blog-grid-right">

                                <h5>
                                    <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 21 Apr, 2018
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- subscribe -->
                <div class="col-lg-3 col-sm-6 subscribe-main footer-grid-agileits-w3ls text-left">
                    <h3 class="mb-sm-5 mb-4">Newsletter</h3>
                    <div class="subscribe-main text-left">
                        <div class="subscribe-form">
                            <form action="#" method="post" class="subscribe_form">
                                <input class="form-control" type="email" placeholder="Enter Your Email..." required="">
                                <button type="submit" class="btn1 btn-primary submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- //subscribe -->
                    <div class="footer-social">
                        <div class="copyrighttop">
                            <h3 class="mb-sm-5 mb-4">Stay In Touch</h3>
                            <ul>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="mr-1">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
                <div class="w3layouts-agile-copyrightbottom">
                    <p>
                        &copy; @DateTime.Now.Year
                        Taxi Cab. All Rights Reserved | Design by
                        <a href="http://w3layouts.com/">W3layouts  </a>
                    </p>

                </div>
            </div>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- //footer -->
</body>
</html>